body {
    background-color: #61A6AB;}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
@font-face {
    font-family: Caveat;
    src: url('../src/assests/Caveat-VariableFont_wght.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Gagalin;
    src: url('../src/assests/Gagalin-Regular.otf');
}
.home{
    background-color: #61A6AB;
}
.brand{
    font-family: 'Caveat', cursive;
}
.heading{
    padding-top: 5rem;
    font-size: 5rem;
    font-family: Gagalin, serif;
}
.heading-2{
    font-size: 4rem;
    font-family: Gagalin, serif;
}
.sub-heading{
    padding-top: 5rem;
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    font-family: Gagalin, serif;
}

.buttons{
    padding-bottom: 2.5rem;
}

.navbar{
    background-color: #F6F6E9;
}
footer{
    height: 2.5rem;
    background-color: #F6F6E9;
}

.home button{
    background-color: #F6F6E9;
    color: black;
    font-family: 'Caveat', cursive;
    border-radius: 0;
    border: black;
    font-size: 1.5rem;
}
.home button:hover {
    box-shadow: inset 400px 0 0 0 black;
}
.home span{
    font-size: 2rem;
}
.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}

.home .text{
    color: black;
    font-family: 'Caveat', cursive;
    border-radius: 0;
    border: black;
    font-size: 1.5rem;
}
.card {
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.5s;

}

.card.flipped{
    transform: rotateY(180deg);
}
.card-back {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.flashcard div{
    background-color: #F6F6E9;
    transform-style: preserve-3d;
    height: 20rem;
    width: 35rem;
    align-items: center;
    text-align: center;
}

.flashcards{
    background-color: #61A6AB;
}
.flashcards div .card{
   margin: auto;
}
.flashcards div .flashcard{
    padding: 5rem;
}

.flashcards .heading{
    font-size: 4rem;
    font-family: Gagalin, serif;
    text-align: center;
}

.webcam-container button{
    background-color: #F6F6E9;
    color: black;
    font-family: 'Caveat', cursive;
    border-radius: 0;
    border: black;
    font-size: 1.5rem;
}

.webcam-container button:hover {
    box-shadow: inset 400px 0 0 0 black;
    color: white;
}

.webcam-container {
    background-color: #61A6AB;
    padding: 5rem;
    align-items: center;
}

.webcam-container .webcam-img{
    margin-left: 25%;
}
.btn-cam .webcam-btn{
    margin-top: 1rem;
    margin-left: 45%;
}

.flashcards button{
    background-color: #F6F6E9;
    color: black;
    font-family: 'Caveat', cursive;
    border-radius: 0;
    border: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 85%;
}

.flashcards button:hover {
    box-shadow: inset 400px 0 0 0 black;
}