.App {
    background-color: #61A6AB;}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
@font-face {
    font-family: Caveat;
    src: url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
    font-weight: 600;
}
.brand{
    font-family: 'Caveat', cursive;
}
.heading{
    padding-top: 5rem;
    font-size: 5rem;
}
.heading-2{
    font-size: 5rem;
}
.sub-heading{
    padding-top: 5rem;
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
}

.buttons{
    padding-bottom: 2.5rem;
}

.navbar{
    background-color: #F6F6E9;
}
footer{
    height: 2.5rem;
    background-color: #F6F6E9;
}

.home button{
    background-color: #F6F6E9;
    color: black;
    font-family: 'Caveat', cursive;
    border-radius: 0;
    border: black;
}
.home button:hover {
    box-shadow: inset 400px 0 0 0 black;
}
